body {
  background-color: #b23939;

}
.foodgroup {
  background-image:url(https://static1.squarespace.com/static/5aac12539d5abb5e3438b8ab/t/5b67c77088251b17547be891/1533527990027/food-vegetables-meal-breakfast_FADED+TWO.png);
  padding: 100px 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 75px;
  color: #ff9681;
}



div {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin:0 auto;
  position: relative;
  margin: 40px 0 0 250px;
  border-radius: 12px;
  max-width: 900px;

}


.recipe1 {
  background: url("https://farm2.staticflickr.com/1940/45277336651_2213c5a65a_z.jpg"); <!-- url of recipe image here -->
}


.recipe2 {
  background: url("https://farm2.staticflickr.com/1940/45277336651_2213c5a65a_z.jpg"); <!-- url of recipe image here -->
}


.recipe3 {
  background: url("https://farm2.staticflickr.com/1940/45277336651_2213c5a65a_z.jpg"); <!-- url of recipe image here -->
}


p {
  color:  #ff9681;
  background: #8f8d8e;
  background:-webkit-linear-gradient(bottom,rgba(143,141,142,1), rgba(143,141,142,.4));
  background:-moz-linear-gradient(bottom,rgba(143,141,142,1), rgba(143,141,142,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  font-family: 'KoHo', sans-serif;
  font-size: 20px;

}


.price {
  float: right;
}


.navbar {
    margin-bottom: 0;
    background-color: #430082;
    opacity: 0.8;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0

}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #38174f !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
