body {
      font-family: 'Patrick Hand SC', cursive;
      font-size: 25px;
      margin: 0 auto;
      background-image: linear-gradient(#d3dfed,#a183a0);
      max-width: auto;
  }

.logo a {
  text-align: left;
  border: double;
  margin: 10px 20px 20px 20px;
  padding: 10px ;
  color: black;

}

.foodgroup {
  text-align: center;
  font-size: 75px;
  -webkit-text-fill-color: #ff9681;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;

}


div {
      height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      margin: 40px 30px 0 250px;
      border-radius: 12px;
      max-width: inherit;

}

p {
      max-width: auto;
      -webkit-text-fill-color: #ff9681;
      -webkit-text-stroke-color: #81eaff;
      -webkit-text-stroke-width: 0.25px;
      background: #8f8d8e;
      background:-webkit-linear-gradient(bottom,rgba(143,141,142,1), rgba(143,141,142,.4));
      background:-moz-linear-gradient(bottom,rgba(143,141,142,1), rgba(143,141,142,.4));
      background-size: cover;
      padding: 10px;
      line-height: 28px;
      text-align: justify;
      position: absolute;
      bottom: 0;
      margin: 0;
      font-family: 'KoHo', sans-serif;
      font-size: 25px;

}

.recipe1 {
  background-image: url("https://c1.staticflickr.com/5/4887/45909619432_7deed7844c_z.jpg")

  }


.recipe2 {
  background-image: url("https://c1.staticflickr.com/5/4804/45065800945_3677ddc5f9_z.jpg");

}


.recipe3 {
  background-image: url("https://c1.staticflickr.com/5/4844/45066019995_aa30831536_z.jpg");

}


.price {
  float: right;
}



ul {
        list-style-type: none;
        margin: 0 0 0 20px;
        padding: 0;
        width: 200px;
        background-color:#9cb7b3 ;
        height: auto;
        position: fixed;
        overflow: auto;
        border-radius: 10px;
        font-size: 30px;

    }


li a {
        display: block;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-color:#8B4513;
        -webkit-text-stroke-width: 0.5px;
        padding: 8px 8px;
        text-decoration: none;
        text-align: center;

    }


li a:hover {
        background-color: #c8c8c8;
        color: white;
