body {
background: url("https://farm2.staticflickr.com/1940/45277336651_2213c5a65a_z.jpg"); <!-- to be changed later-->
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


h1 {
text-align: center;
margin: 0 auto;
padding: 150px 0 0 0;
font-size: 85px;
color: #ffffff;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  padding: 120px 0 0 50px;
  font-size: 35px;

}


th {
  text-align: center;
  padding: 0 50px 50px 0;
}


a {
    color: #ff9681;
    text-decoration: none;


  }

  a:hover {
    color: #698d9d;
  }

  a:active {
    color: #466675;
  }
